input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.login-component {
  min-height: 93vh;
  background-color: #ebeeef;
  text-align: center;
  margin: 0 auto;
  padding: 2.5rem;
  height: 93.5vh;
  background-size: cover;
  display: flex;
}

.main-container {
  border-radius: 10px;
  background-color: #fff;;
  color: gray;
}

.register-question {
  color: gray;
  margin: auto;
  top: 10px;
}

.login-header {
  background-image: url(../img/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  height: 124px;
  margin-bottom: 10px;
}

.login-form-title {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  margin: auto;
}

.login-wrapper {
  margin: auto;
  width: 50%;
}

.container
  .login-header {
  margin-bottom: 12px;
}

.btn {
  margin-bottom: 15px;
}

.login-input {
  margin: auto;
  width: 90%;
}

a:hover {
  text-decoration: none;
}
