<div *ngIf="isLoading" style="text-align: center;">
  <app-loader></app-loader>
</div>
<div *ngIf="!isLoading">
  <div class="panel panel-default" *ngIf="topMovies">
    <div class="panel-heading">
     <h1 class="panel-title" style="text-align: center;">Топ 20 филми!</h1>
    </div>
  </div>
  <div class="panel-body">
    <div class="row movie-container">
      <ul *ngIf="topMovies">
        <li *ngFor="let topMovie of topMovies" class="col-md-2 thumbnail border-background">
          <img *ngIf="topMovie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{topMovie.poster_path}}" alt="{{topMovie.title}}">
          <h5>{{ topMovie.title }}</h5>
          <p>{{ topMovie.release_date }}</p>
          <p><a class="btn btn-default" routerLink="/top-movie-detail/{{topMovie.id}}">Детайли</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>
