<div class="panel panel-default" style="text-align: center;">
  <div class="panel-heading">
      <h2 class="panel-title">Драма филми</h2>
  </div>
  <div class="panel-body" *ngIf="movies">
    <ul class="row">
      <li *ngFor="let movie of movies" class="col-sm-2 thumbnail">
        <img class="thumbnail border-background" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{ movie.title }}">
        <h5>{{ movie.title }}</h5>
        <p>{{ movie.release_date }}</p>
        <p><a class="btn btn-default" routerLink="/movie-details/:id">Детайли</a></p>
      </li>
    </ul>
  </div>
</div>
